:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;


}

h1#top-blog-name.top{
    font-size: 3.2em;
    color: rgb(217, 186, 223);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1#top-path.top{
    font-size: .8em;
    color: rgb(218, 128, 236);
}

nav#navigation{
    width: 100%;
    padding: 6% 0;
    text-align: center;
    margin: 25px 0 75px;
    background: rgb(88, 48, 180);
    color: #fff;
    border-radius: 10px;
}

a.navigation-link{
    display: inline-block;
    margin: 1% 3%;
    font-size: 1.4em;

}
a.navigation-link:link{
    color: rgb(223, 209, 255);
    transition: .3s;
    letter-spacing: 1px;
    text-decoration: none;
}
a.navigation-link:visited{
    color: rgb(223, 209, 255);
    transition: .3s;
    letter-spacing: 1px;
    text-decoration: none;
}
a.navigation-link:hover{
    color: rgb(104, 74, 175);
    background: rgb(223, 209, 255);
    transition: .3s;
    text-decoration: underline;
}
input, textarea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
    resize: none;
    border: 1px solid #333;
    border-radius: 4px;
    background: rgba(113, 62, 233, .3);
    margin: auto;
    display: block;
    transition: .3s;
    padding: 10px;
    margin: 20px auto;
}
textarea{
    height: 15em;
    width: 80%;
}
input:hover, textarea:hover{
    background: rgba(113, 62, 233, 1);
    outline: 3px solid transparent;
}
form{
    margin: 0;
    padding: 30px;
    border-radius: 5px;
    background: rgb(88, 48, 180);
    color: #fff;
}
section#section-form{
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    padding: 3% 20%;
    min-height: 50vh;
}
article>section{
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    background: rgb(88, 48, 180);
}
h4.error{
    color: rgb(255, 0, 0);
}

nav.logout{
    text-align: right;
    width: 100%;
    background: rgb(88, 48, 180);
    margin: 25px 0;
}
article.post,
article.opinion{
    margin: 15px 0;
    background: rgb(113, 62, 233);
    padding: 15px;
    border-radius: 10px;
}
article.post>a.navigation-link,
article.opinion>div>a.navigation-link{
    background: rgb(88, 48, 180);
    display: block;
}
section#topTopic>div{
    margin: 15px 0;
}
section#topTopic>div:first-child{
    color: white;
    font-weight: 700;
}
section#topTopic{
    margin: 25px 0;
}
.manipopinion,
.manippost{
    display: inline-block;
    margin: 15px 10px;
}
div.manipopinion>a.navigation-link,
div.manippost>a.navigation-link{
    font-size: 0.9em;
    letter-spacing: 2px;
}